*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

.btn{
    display: block;
    width: 8rem;
    height: 50px;
    background-color: teal;
    outline: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgb(1, 44, 44);
    margin: 20px 0;

}